body {
    background-image: url("./image/bg-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.main-content{
    height: 85%;
}

.content-1{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid rgba(144, 144, 144, 0.5);
    background-color: rgba(8, 42, 87, 0.2);
    backdrop-filter: blur(10px);
}

.statistic>.col, .info-sensor>.col, .device>.col{
    border-radius: 15px;
    backdrop-filter: blur(10px);
}

.statistic>.col1{
    flex: 0 0 60%;
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0.3);
}

.statistic>.col2{
    background-color:  rgba(8, 42, 87, 0.25);
}

.info-device>.specific>.row1{
    flex: 0 0 20%;
}

.info-device>.specific>.row2{
    flex: 0 0 20%;
    background-color: rgba(8, 42, 87, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.info-device>.specific>.row3{
    flex: 0 0 25%;
}

.info-device>.specific>.row3>.col{
    background-color: rgba(8, 42, 87, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.info-device>.specific>.row4{
    flex: 0 0 12%;
}

select{
    background: none;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
}

.info-device>.specific>.row4{
    border-radius: 20px;
    backdrop-filter: blur(10px);
    background-color:  rgba(8, 42, 87, 0.05);
}

.info-sensor>.col{
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-sensor>.col1{
    background-color:  rgba(8, 42, 87, 0.3);
}

.info-sensor>.col2{
    background-color:  rgba(11, 33, 62, 0.35);
}

.info-sensor>.col3{
    background-color:  rgba(8, 42, 87, 0.45);
}

.device>.col{
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.4);
}

.device>.col2, .device>.col4{
    background-color: rgba(16, 32, 54, 0.35);
}

.switch{
    display: none;
}

.switch-btn{
    height: 30px;
    width: 60px;
    background-color: rgb(210, 210, 210);
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    transition: all .15s ease;
}

.switch-btn:before{
    content: "";
    position: absolute;
    height: 22px;
    width: 22px;
    background-color: white;
    border-radius: 50%;
    top: 4px;
    left: 4px;
    transition: all 0.15s ease;
}

.switch:checked + .switch-btn{
    background-color: rgb(54, 128, 206);
}

.switch:checked + .switch-btn:before{
    transform: translateX(30px);
}